<h1>Login</h1>
<% unless @errors.nil? %>
<% @errors.each do |error| %>
<%= error %>
<% end %>
<% end %>

<form class="" action="/session" method="post">
  <label>Username
    <input type="text" name="user[user_name]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  <input type="submit"  value="Login">


</form>
