<h1>Create New User</h1>

<form class="" action="/users" method="post">
  <label>Username
    <input type="text" name="user[user_name]">
  </label>

  <br>

  <label>Password
    <input type="password" name="user[password]">
  </label>
  
  <br>

  <input type="submit"  value="Create User">
</form>
